@model  ChatModel

<h1>Chatting with @Model.UserTo</h1>
<br />

<form method="post">
    <input type="text" placeholder="Enter your message..." id="message" name="message" />
    <input class="btn btn-primary" type="submit" value="Send" asp-controller="User" asp-action="Send">
</form>
